
/*--Change section highlight background color --*/  

.course-content ul.ctopics li.section.current .content .toggle {
    background-color: rgb(228, 222, 225);
}

.course-content ul.ctopics li.section.current .content .toggle-arrow { 
    filter: invert(100%);
}

.course-content ul.ctopics li.section.current .content .toggle span h3.sectionname{
    filter: invert(100%);
    color: rgb(255,255,255);
}


/*--Fixes to Grid format after Moodle 4.1  from Elena LCC --*/  

.thegrid {
    box-sizing: unset;
    justify-content: left!important;
    text-decoration: none;
    font-weight: bold;
	border-radius: 20px;
} 

.grid-image {
    position: relative;
    vertical-align: bottom!important;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    vertical-align: bottom!important;
	filter: grayscale(100%) !important;
	border-radius: 20px;
/*    border: 1px solid black;*/	
}    


.grid-image:hover {
	filter: grayscale(0%) !important;
	 
}

.card {
    border-radius: unset;
    border: unset;
}

.card-header:first-child {
    border-radius: unset;
}

.card-header {
    position: absolute;
    z-index: 3;
    
    white-space: normal;
    padding: 6px;
    border-top: 1px #000000d6;
    border-bottom: 1px #000000d6;
    background-color: #000000d6;
    opacity: .85;
    width: 100%;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FF8500;
    font-size: large;	
}



.card-img {
    border-radius: unset;
}

.card-img-bottom {
    border-radius: unset;
}
.page-header-headings:not(.text-truncate), .coursename:not(.text-truncate), .categoryname:not(.text-truncate), .breadcrumb-item:not(.text-truncate) {
	display: none;
}
.breadcrumb:not(:empty) {
	display: none;
}
.course-content h3.sectionname a:nth-child(1) {
	display: none;
}
.format-grid .thegrid .grid-section {
	border-radius: 10px
}

