
/*--Change section highlight background color --*/  

.course-content ul.ctopics li.section.current .content .toggle {
    background-color: rgb(228, 222, 225);
}

.course-content ul.ctopics li.section.current .content .toggle-arrow { 
    filter: invert(100%);
}

.course-content ul.ctopics li.section.current .content .toggle span h3.sectionname{
    filter: invert(100%);
    color: rgb(255,255,255);
}


/*--Fixes to Grid format after Moodle 4.1  from Elena LCC --*/  

.thegrid {
    box-sizing: unset;
    justify-content: left!important;
    text-decoration: none;
    font-weight: bold;
} 

.grid-image {
    position: relative;
    vertical-align: bottom!important;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    vertical-align: bottom!important;
/*    border: 1px solid black;*/
}    

.card {
    border-radius: unset;
    border: unset;
}

.card-header:first-child {
    border-radius: unset;
}

.card-header {
    position: absolute;
    z-index: 3;
    
    white-space: normal;
    padding: 6px;
/*    border-top: 1px solid rgba(255, 255, 255, .85);*/
    background-color: white;
    opacity: .85;
    width: 100%;
}

.card-img {
    border-radius: unset;
}

.card-img-bottom {
    border-radius: unset;
}

