.course-header-txt {
	background-color: #0d0c0bb8!important;
	color:white!important;
}

.course-content .course-section .course-section-header {
	background-color: white!important;
	padding: 0 15px;
}

.navigationtitle {
	display:none!important;
}

.single-section h3.sectionname {
	letter-spacing: 1px;
	font-size: 2.5rem !important;
	text-transform: uppercase;
}

.card-header.text-truncate {
	height: 192px;
	position: absolute;
	width: 192px;
	font-size: 18px;
	color: white;
	z-index: 3;
	white-space: normal;
	font-weight: 400;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)) !important;
}

.format-grid .thegrid {
	justify-content: center!important;
	width: 80%;
	margin: auto;
	}

.format-grid .thegrid .grid-image img {
	position: absolute; object-fit: cover; height: 100%; width: 100%; z-index: 0;
}
